#root{
  padding: 1rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#ToDoPanels{
  display: flex;
  justify-content: center;

}

#root .panel{
  /* border: 1px solid gray; */
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 1rem;
  width: 35%;
}

#root #rightPanel{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 800px) {
  #ToDoPanels{
    display: block;
  }

  #root .panel{
    margin: 1rem auto;
    width: 70%;
  }
}